/* FEUILLE DE STYLE CSS POUR LE PROJET AFFICHEUR
AUTEUR: Guerry David
DATE: 16-01-2014 / 16-05-2014
PROJET D'EXAMEN BTS IRIS 2 */

body{
	/*background: url("fondpage.jpg") fixed center no-repeat;*/ /*#ededed; */
	width: 100%;
	height : 100%;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	background-size: cover; /* version standardisée */
}

html, body {
	background-color: #336692; /* Le fond de la page sera noir */
	/*margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;*/
	/*overflow: hidden;   Permet de ne pas avoir d'ascenseur (scroll) */ 
}

h1{
	font-size: 40px;
	font-style: italic;
	font-family: "PoliceEcriture";
	src: url('PoliceEcriture.ttf') format('truetype');
	margin-top: 80px;
	display: inline-block;
}

h1#Connexion{	
	margin-left: 25%;
}

h1#Inscription{	
	margin-left: 65%;
}


h1#GestionUtilisateurs{	
	margin-left: 40%;
}

h1#Admin-Utilisateur{
	margin-left: 25%;
}


img{ /*separateur*/
top: 190px;
position: absolute;
}

footer{
	border: 1px solid black;
	width:90%;
	background-color: silver;
	margin-left: 5%;
	position:absolute;
	bottom: 15px;
}

a{ /*Garde la couleur bleu des liens*/
	color:blue;
}

.CentrerText{
	text-align: center;
}

.Gauche{
	float: left;
}

.Droite{
	float: right;
}

.connexion{
	text-align: center;
	margin-left: 30%;
	border: 2px gray dashed;
	border-radius: 10px;
	padding: 10px;
	position: absolute;
	top : 20%;
}

.table2{
	text-align: center;
	margin-left: 60%;
	border: 2px gray dashed;
	border-radius: 10px;
	padding: 10px;
	position: absolute;
	top : 11%;
}

.MessageErreur{
	color: red;	
	margin-left: 40%;	
}

.BoutonRetourPage{
	margin-left: 5%;
	top: 90px;
	position: absolute;
}

.BoutonDeconnexion{
	margin-left: 88%;
	top: 90px;
	position: absolute;
}

.MessageAEnvoye{
	margin-left: 15%;
	top: 35%;
	position: absolute;
	
}

.Messages{
	margin-left: 60%;
	top: 35%;
	position: absolute;
}

.Identitee{
	text-align: left;
	margin-left: 90px;
	border: 2px black solid;
	background-color: silver;
	border-radius: 10px;
	padding: 10px;
	top: 30px;
	position: relative;
	display: inline-block;
}

.AnciensMessages{
	width:400px; 
}

.Utilisateurs{ /* Largeur de mon select (Ancien Message)*/
	width:550px; 
}

.CreationUtilisateur{
	margin-left: 15%;
	top: 47%;
	position: absolute;
	text-align: center;
	border: 1px black solid;
	background-color: silver;
	border-radius: 10px;
	padding: 10px;
	
}

.SuppressionUtilisateur{
	margin-left: 50%;
	top: 40%;
	position: absolute;
	text-align: center;
	border: 1px black solid;
	background-color: silver;
	border-radius: 10px;
	padding: 10px;	
}

#BoutonGestionUtilisateurs{
	margin-left: 45%;
	bottom: 80px;
	position: absolute;
}

.bouton { 
border-top: 1px solid silver; /*pour ajouter une bordure en haut */
background: #279B8C; /*pour changer l’arrière plan */
padding: 6px 12px; /*pour ajouter un espace intérieur dans le bouton */
-webkit-border-radius: 2px; /*pour créer des bordures rondus (navigateur : Google Chrome et d’autres) */
-moz-border-radius: 2px; /*pour créer des bordures rondus (navigateur : FireFox et d’autres) */
border-radius: 8px; /*pour créer des bordures rondus (navigateur : La plupart) */
-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0; /*pour ajouter une ombre en dessous du bouton (navigateur : Google Chrome et d’autres) */
-moz-box-shadow: rgba(0,0,0,1) 0 1px 0; /* pour ajouter une ombre en dessous du bouton (navigateur : Google Chrome et d’autres) */
box-shadow: rgba(133,142,141,1) 0 2px 0; /* pour ajouter une ombre en dessous du bouton */
text-shadow: rgba(0,0,0,.4) 0 1px 0; /* pour ajouter une ombre en dessous du bouton */
color: white; /* la couleur */
font-size: 11px; /* la taille du font */
font-family: Georgia, serif; /* pour définir la police */
text-decoration: none; /* pour enlever le souligné */
vertical-align: middle; /* pour centrer le texte */
background-image:radial-gradient(gray, black);/* Degrader */
/*background-image:linear-gradient(white, black); /* Degrader haut/bas*/
} 




